@charset "utf-8";

.box_100a {
	width: auto;
	margin-left: 338px;
	padding-right: 6px;
}
.box_100b {
	width: auto;
	margin-left: 540px;
	padding-right: 6px;
}
.box_100b_ {
	width: auto;
	margin-left: 497px;
	padding-right: 2px;
}
.box_100b__ {
	width: auto;
	margin-left: 538px;
	padding-right: 2px;
}




.box_100c {
	width: auto;
	margin-left: 83px;
	padding-right: 6px;
}
.box_100d {
	width: auto;
	margin-left: 518px;
	padding-right: 2px;
}
.box_100e {
	width: auto;
	margin-left: 54px;
	padding-right: 6px;
}


.w_30 {
	width: 28px;
}
.w_42 {
	width: 42px;
}
.w_46 {
	width: 48px;
}
.w_55 {
	width: 55px;
}
.w_74 {
	width: 74px;
}

.w_78 {
	width: 78px;
}

.w_86 {
	width: 86px;
}
.w_88 {
	width: 88px;
}

.w_90 {
	width: 90px;
}

.w_92 {
	width: 92px;
}
.w_104 {
	width: 104px;
}

.w_106 {
	width: 106px;
}
.w_110 {
	width: 110px;
}
.w_200 {
	width: 200px;
}
.w_100_100 {
	width: 100%;
}
.w_aout {
	width: auto;
};
