@charset "utf-8";
/* CSS Document */

/* Top Menu
-------------------------------------------------------------------------------------*/

/* Top menu panel */

.topmenu {display:block; float:left;height:44px; width:auto;background:url(../images/pic_top_menu_bg.png) repeat-x;z-index: 999999999}

/* Dropdown menu */

ul.menu-nav {
    font-size: 14px;
	font-weight:bold;
    color: #00437e;
    text-transform: uppercase;
	display:block;    
    float: left;
	width:auto;
}
/*
ul.menu-nav li.parent:hover {
    -webkit-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.2); 
}
     
ul.menu-nav > li > a:hover, ul.menu-nav > li.current  > a {
    color: #036564;
    text-shadow: 0px 1px 0px #EBEBEB;
}
*/
ul.menu-nav > li > a:hover {background: url(../images/top_menu_over.png) no-repeat top center; display:block; width:90px; height:44px; }
ul.menu-nav > li.current  > a {background: url(../images/top_menu_on.png) no-repeat top center; display:block; width:100px; height:44px; color:#fff; }
ul.menu-nav li a {
    color: #00437e;
	font-weight:bold;
	line-height:32px;
    padding: 5px;
    text-decoration: none;
	width:90px;
	text-align:center;
}   

ul.menu-nav li a:hover {
    text-decoration: none;
}
                
ul.menu-nav ul.child {
    border-top: none;
    border-right: 1px solid #07273b;
    border-bottom: 1px solid #07273b;
    margin-top: -5px;
}

ul.menu-nav ul.child li a, ul.menu-nav ul.child ul.grandchild li a {
    font-family: Verdana, Arial,"宋体",Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    background: #216088 url(../images/submenu_shadow.png) no-repeat bottom center;
	opacity:0.9;
}
/*
ul.menu-nav ul.child li.current a, ul.menu-nav ul.child ul.grandchild li.current a  {
    background-color: #033649;
    color: #E4F7B1;
    text-shadow: 0px 1px 0px #031634;
}


ul.menu-nav ul.child li a:hover, ul.menu-nav ul.child ul.grandchild li a:hover  {
    background-color: #033649;
    color: #E4F7B1;
    text-shadow: 0px 1px 0px #031634;
}

ul.menu-nav li:hover a {
    background-color: #033649;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px #031634;
}
*/
ul.menu-nav ul.child > li:last-child a, ul.menu-nav ul.child ul.grandchild > li:last-child a { background-image: none; }
                    
ul.menu-nav ul.child {
    top: 49px !important;
    left: 0px !important;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2); 
    z-index: 11000;
}

ul.menu-nav ul.child ul.grandchild {
    left: 203px !important;
    top: -1px !important;
    border-top: 1px solid #165369;
    border-right: 1px solid #07273b;
    border-left: 1px solid #165369;
    border-bottom: 1px solid #07273b;
}

ul.menu-nav li li {
    border-left: none;
}               

ul.menu-nav li li a {
	text-align:left;
    width: 110px;
    padding: 5px 4px 5px 10px;
}
ul.menu-nav li li a:hover { color:#6bc5ff;}

/* Dropdown menu default settings */

.menu-nav ul {
    position: absolute;
    top: -999em;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 10;
}

.menu-nav li {
    float: left; 
    position: relative;
}

.menu-nav a {
    display: block;
    float: left;
}

.menu-nav li:hover ul, ul.menu-nav li.sfHover ul {
    left: 0px;
    top: 35px;
}

.menu-nav li:hover li ul, .menu-nav li.sfHover li ul {
    top: -999em;
}

.menu-nav li li:hover ul, ul.menu-nav li li.sfHover ul {
    left: 123px;
    top: 0px;
}

.menu-nav li:hover ul, .menu-nav li li:hover ul {
    top: -999em;
}

.menu-nav li li {
    display: block;
    padding: 0px;
    float: left;
    height: auto !important;
}

.menu-nav li ul {
    width: 123px;
    display: none;
}

.menu-nav li li a:link, .menu-nav li li a:visited {
    display: block;
    height: auto;
    float: left;
}

.menu-nav li:hover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
}

/* CSS Hacks
-------------------------------------------------------------------------------------*/

.clear {
    width: 100%;
    height: 0px;
    clear: both;
}

.clearfix {
    float: none;
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0px;
    content: " ";
    clear: both;
    height: 0px;
}

* html .clearfix {
    zoom: 1; /* IE6 */
}

*:first-child+html .clearfix {
    zoom: 1; /* IE7 */
}

.last {
    margin: 0px !important;
}