.qqinfo_div { border-width: 1px;position: fixed;_position: relative; z-index: 105;_top: expression(offsetParent.scrollTop+0);display:none;}

.info_ul {position: absolute;left: 0;z-index: 1000;float: left;min-width: 130px;padding: 5px 0;margin: 2px -86px 0px;list-style: none;font-size: 14px;text-align: left;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.15);border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);background-clip: padding-box;}

.info_ul li {color: black;}